.App {
  text-align: center;
}

p{
  font-size: 20px;
}

button {
  font-size: 15px;
  padding: 20px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  background-color: #00FFFF;
}
